.pdfMain {
  flex: 1;
}
.pdfInner {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.bannerText {
  margin-left: 130px;
  font-size: 15px;
  font-family: "Futura";
  color: #3bb678;
  letter-spacing: 2px;
}

.downloadBtn {
  text-decoration: none;
  color: #4a4a4a;
  padding: 2px;
  background-color: #f2f2f2;
  border: 1px solid #4a4a4a;
}

.tableData {
  width: 50%;
}

.tableRow {
  border: 2px solid black;
}

#title {
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#students td,
#students th {
  border: 1px solid #000;
  padding: 8px;
}

#students tr:nth-child(even) {
  background-color: #f2f2f2;
}
.body {
  margin-left: 2%;
  margin-right: 2%;
}
.btn {
  margin-left: 20px;
}

/* #students tr:hover {
  background-color: #ddd;
} */

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
@media (max-width: 500px) {
  .bannerText {
    margin-left: 20px;
    font-size: 12px;
    letter-spacing: 0px;
  }
  #title {
    font-size: 16px;
  }
  .bottomText {
    font-size: 12px;
  }

  #students {
    width: 90%;
  }
  .downloadBtn {
    font-size: 12px;
  }
}
@media (min-width: 500px) {
  .bannerText {
    margin-left: 60px;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  #title {
    font-size: 20px;
  }
  .bottomText {
    font-size: 14px;
  }
  #students {
    width: 80%;
  }
  .downloadBtn {
    font-size: 13px;
  }
}
@media (min-width: 800px) {
  .bannerText {
    margin-left: 100px;
    letter-spacing: 1px;
    font-size: 16px;
  }
  #title {
    font-size: 26px;
  }
  .bottomText {
    font-size: 14px;
  }
  #students {
    width: 65%;
  }
  .downloadBtn {
    font-size: 14px;
  }
}
@media (min-width: 1336px) {
  .bannerText {
    margin-left: 135px;
    letter-spacing: 2px;
  }
  #title {
    font-size: 30px;
  }
  .bottomText {
    font-size: 16px;
  }
  #students {
    width: 50%;
  }
}
