.pdfMain {
  flex: 1;
}
.pdfInner {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
}
/* .refDiv {
} */
.banner {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid black;
}


.bannerText {
  margin-left: 130px;
  font-size: 15px;
  font-family: "Futura";
  color: #3bb678;
  letter-spacing: 2px;
}
/* .bottomText {
  font-size: 10px;
} */

.tableData {
  width: 50%;
}

.tableRow {
  border: 2px solid black;
}

#title {
  /* text-align: center; */
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* border: 3px solid #000; */
  width: 50%;
}

#students td,
#students th {
  border: 1px solid #000;
  padding: 8px;
}

#students tr:nth-child(even) {
  background-color: #f2f2f2;
}
.body {
  margin-left: 20px;
}
.btn {
  margin-left: 20px;
}

/* #students tr:hover {
  background-color: #ddd;
} */

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
