.maindiv {
  flex: 1;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #025d5f;
}

.headerText {
  font-size: 20px;
  font-family: "Futura";
  color: #3bb678;
  letter-spacing: 2px;
}

.header2Text {
  margin-right: 100px;
  font-size: 20px;
  font-family: "Futura";
  color: #3bb678;
  letter-spacing: 2px;
}

.main-head {
  flex: 1;
}

.main-inner-head {
  flex: 1;
  height: 80px;
  background-color: #3bb678;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.header1 {
  flex: 1;
  width: 50%;
  height: 80px;
  background-color: #3bb67977;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #3bb67977;
  border-bottom: 1px solid #3bb67977;
  border-right: 1px solid #3bb67977;
  border-left: 1px solid #3bb67977;
  border-bottom-right-radius: 20px;
  text-decoration: none;
  color: black;
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4); */
}

.header2 {
  flex: 1;
  width: 50%;
  height: 80px;
  background-color: #3bb67977;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #3bb67977;
  border-bottom: 1px solid #3bb67977;
  border-right: 1px solid #3bb67977;
  border-left: 1px solid #3bb67977;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  color: black;
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4); */
}

.headerActive {
  text-decoration: none;
  border: 0px;
  border-top: 1px solid #3bb67977;
  color: black;
  background-color: #3bb678;
  color: white;
  /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  border-right: 1px solid rgba(0, 0, 0, 0.267);
  border-left: 1px solid rgba(0, 0, 0, 0.267);
}

.headerActive:hover {
  cursor: default;
}

.head {
  text-align: center;
}
@media (max-width: 374px) {
  .header1,
  .header2 {
    font-size: 10px;
    height: 35px;
  }
  .headerText,
  .header2Text {
    display: none;
  }

  .mainHeader {
    display: flex;
    justify-content: center;
  }
  .headLogo {
    height: 50px;
  }
}

@media (min-width: 375px) {
  .header1,
  .header2 {
    font-size: 13px;
    height: 40px;
  }

  .headerText,
  .header2Text {
    display: none;
  }
  .mainHeader {
    display: flex;
    justify-content: center;
  }

  /* .headLogo {
    height: 50px;
  } */
}

@media (min-width: 768px) {
  .header1,
  .header2 {
    font-size: 23px;
    height: 60px;
  }
  .headerText {
    font-size: 14px;
    display: block;
  }
  .header2Text {
    font-size: 14px;
    display: block;
    margin-right: 10px;
  }
  .mainHeader {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1336px) {
  .header1,
  .header2 {
    font-size: 23px;
    height: 70px;
  }
  .headerText {
    font-size: 16px;
    display: block;
    margin-right: 20px;
  }
  .header2Text {
    font-size: 16px;
    display: block;
    margin-right: 20px;
  }
}
@media (min-width: 1440px) {
  .header1,
  .header2 {
    font-size: 25px;
    height: 80px;
  }
  .headerText {
    font-size: 18px;
    display: block;
    margin-right: 40px;
  }
  .header2Text {
    font-size: 18px;
    display: block;
    margin-right: 40px;
  }
}
@media (min-width: 1920px) {
  .header1,
  .header2 {
    font-size: 32px;
  }
  .headerText {
    font-size: 20px;
    display: block;
    margin-right: 50px;
  }
  .header2Text {
    font-size: 20px;
    display: block;
    margin-right: 50px;
  }
}
