.maindiv {
  flex: 1;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #025d5f;
} */

/* .headerText {
  font-size: 20px;
  font-family: "Futura";
  color: #3bb678;
  letter-spacing: 2px;
}

.header2Text {
  margin-right: 100px;
  font-size: 20px;
  font-family: "Futura";
  color: #3bb678;
  letter-spacing: 2px;
} */

.main-head {
  flex: 1;
}

.main-inner-head {
  flex: 1;
  height: 80px;
  background-color: #3bb678;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

/* .header1 {
  flex: 1;
  width: 50%;
  height: 80px;
  background-color: #3bb678;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  border-right: 1px solid rgba(0, 0, 0, 0.267);
  border-left: 1px solid rgba(0, 0, 0, 0.267);
  border-bottom-right-radius: 20px;
  text-decoration: none;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.header2 {
  flex: 1;
  width: 50%;
  height: 80px;
  background-color: #3bb678;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  border-right: 1px solid rgba(0, 0, 0, 0.267);
  border-left: 1px solid rgba(0, 0, 0, 0.267);
  border-bottom-left-radius: 20px;
  text-decoration: none;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
} */

.headerActive {
  text-decoration: none;
  border: 0px;
  color: black;
  background-color: #3bb67977;
  border-color: #3bb67977;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.headerActive:hover {
  cursor: default;
}

.head {
  text-align: center;
}
