.mainDiv {
  flex: 1;
  background-image: url(../../images/backimage2.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imageBlur {
  height: 100vh;
  width: 100%;
  background-color: rgba(214, 211, 211, 0.7);
  flex-direction: row;
}

.main-body {
  flex: 1;
}

.main-head {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-inner {
  flex: 1;
  height: 80px;
  background-color: #3bb678;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.header {
  flex: 1;
  height: 80px;
  background-color: #3bb678;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  text-decoration: none;
}

.headerActive {
  text-decoration: none;
  border-bottom: 0px;
  background-color: #3bb67977;
}

.mainHeader {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #025d5f;
}

.headerText {
  font-size: 20px;
  font-family: "Futura";
  color: #3bb678;
  letter-spacing: 2px;
}

.header2Text {
  margin-right: 100px;
  font-size: 20px;
  font-family: "Futura";
  color: #3bb678;
  letter-spacing: 2px;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-text {
  height: 25px;
  font-size: 40px;
}

.dropdown {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-text {
  height: 20px;
  font-size: 40px;
}

.select-dropdown {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.select-dropdown-inner {
  width: 210px;
  background-color: #c3c3c3;
  background: linear-gradient(
    0deg,
    rgba(180, 180, 180, 1),
    rgba(200, 200, 200, 1) 30.71%
  );
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.pvc-img {
  width: 180px;
  height: 180px;
}
.pvc-img-div {
  margin-left: 10px;
}

.dropdown-inner {
  width: 400px;
  background-color: #c3c3c3;
  background: linear-gradient(
    0deg,
    rgba(180, 180, 180, 1),
    rgba(200, 200, 200, 1) 30.71%
  );
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.dropdown-placeholder {
  font-size: 20px;
  font-weight: 500;
}

.dropdown-arrow {
  top: 45%;
  border-color: black transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
}
.label-text {
  height: 20px;
  font-size: 40px;
}

/* @media (max-height: 300px) {
  .slider-text,
  .dropdown-text,
  .label-text {
    font-size: 20px;
  }
  .dropdown-inner {
    width: 100px;
  }
  .slider {
    width: 180px;
  }
} */
/* @media (max-height: 600px) {
  .slider-text,
  .dropdown-text,
  .label-text {
    font-size: 20px;
  }
  .dropdown-inner {
    width: 300px;
  }
  .slider {
    width: 280px;
  }
} */
@media (max-width: 350px) {
  .slider-text,
  .dropdown-text,
  .label-text {
    font-size: 20px;
  }
  .header {
    font-size: 22px;
  }
  .dropdown-inner {
    width: 200px;
  }
  .select-dropdown-inner {
    width: 100px;
  }
  .pvc-img {
    width: 90px;
    height: 90px;
  }
  .slider {
    width: 220px;
  }
}

@media (min-width: 350px) {
  .slider-text,
  .dropdown-text,
  .label-text {
    font-size: 23px;
  }
  .header {
    font-size: 25px;
  }

  .dropdown-inner {
    width: 300px;
  }
  /* .select-dropdown-inner {
    width: 150px;
  }
  .pvc-img {
    width: 120px;
    height: 120px;
  } */
  .slider {
    width: 310px;
  }
}

@media (min-width: 768px) {
  .slider-text,
  .dropdown-text,
  .label-text {
    font-size: 21px;
  }
  .header {
    font-size: 23px;
  }

  .dropdown-inner {
    width: 400px;
  }
  .slider {
    width: 410px;
  }
}
@media (min-width: 1336px) {
  .slider-text,
  .dropdown-text,
  .label-text {
    font-size: 23px;
  }
  .header {
    font-size: 23px;
  }
}
@media (min-width: 1440px) {
  .slider-text,
  .dropdown-text,
  .label-text {
    font-size: 23px;
  }
  .header {
    font-size: 25px;
  }
}
@media (min-width: 1920px) {
  .slider-text,
  .dropdown-text,
  .label-text {
    font-size: 30px;
  }
  .header {
    font-size: 32px;
  }
}
